.backgroundBox{
  position: absolute;  /* cannot be relative */
  width: 100%;
  height: 100%;
  background-color: #645394
}

.middleBox{
  position: relative;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -200px;  /* 50% x width */
  margin-top: -150px;   /* 50% x height */
  background-color: whitesmoke;
  box-shadow: 1px 1px 20px 1px #413561;
  border-radius: 2px;
}

.userNameInput{
  /* position: absolute; */
  display: inline-block;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  padding: 5px;
  width: 80%;
  height: 50px;
  background-color: rgb(235, 235, 235);
  color: #413561;
  font-family: "lato";
}

.passwordInput{
  display: inline-block;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  padding: 5px;
  width: 80%;
  height: 50px;
  background-color: rgb(235, 235, 235);
  color: #413561;
  font-family: "lato";
}

.loginButton{
  display: inline-block;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  width: 80%;
  height: 50px;
  background-color: #645394;
  color: whitesmoke;
  font-family: "lato";
}

.textBox{
  display: inline-block;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  width: 80%;
  height: 50px;
  color: rgb(134, 134, 134);
  font-family: "lato";
  text-align: center
}

.link{
  color: #645394;
}
